---
name: Test
on:
  push:
    branches: [main]
    tags-ignore:
      - '**'
  pull_request:
  schedule:
    - cron: "0 5 * * 1"
  workflow_dispatch:
  workflow_call:
    outputs:
      role_name:
        description: 'Ansible role name'
        value: ${{ jobs.role_name.outputs.role_name }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: ansible/ansible-lint@v25.9.2
        with:
          args: "--exclude molecule"

  role_name:
    runs-on: ubuntu-latest
    outputs:
      role_name: ${{ steps.get_role_name.outputs.role_name }}
    steps:
      - uses: actions/checkout@v5

      - id: get_role_name
        run: |
          namespace=`yq eval '.galaxy_info.namespace' meta/main.yml`
          role_name=`yq eval '.galaxy_info.role_name' meta/main.yml`
          echo "role_name=${namespace}.${role_name}" | tee -a $GITHUB_OUTPUT

  test:
    runs-on: ubuntu-latest
    needs: [role_name]
    strategy:
      matrix:
        distro:
          - debian12
          - debian13
          - fedora41
          - fedora42
          - rockylinux9
          - rockylinux10
          - ubuntu2204
          - ubuntu2404

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v5
        with:
          # TODO: switch back to 3.x when Ansible 2.20 is out
          # RuntimeError: Python 3.14 requires ansible-core version >= 2.20.0, and we found 2.19.3.
          python-version: '3.13'
          cache: 'pip'

      - run: pip install -r requirements.txt

      - run: |
          molecule -v converge
          molecule -v idempotence
          molecule -v verify
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
